body {
    text-transform: capitalize;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.flexbox {
    display: flex;
    margin: auto;
    width: 400px;
}

/* --form------------------------------------------------------ */
form {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 20px;
}

.input-item {
    margin-bottom: 10px;
}

#color {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --LIST------------------------------------------------------ */
ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}

li {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 180px;
    border-radius: 5px;
    position: relative;
}

li .car-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

li .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .details span {
    display: block;
}

.eyes {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 70px;
}

.x {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .2s;
    cursor: pointer;
}

.x:hover {
    color: red;
}